<div class="container">
    <div class="center">
        <h4>Name</h4>
        <h1>Hero Name</h1>
    </div>
    <hr>

    <!-- Backbutton -->
    <div class="row">
        <div class="col text-right">
            <button [routerLink]="['/heros']" class="btn btn-danger">
                <i class="fas fa-angle-double-left"></i>
                Back
            </button>
        </div>
    </div>

    <!-- Form -->
    <div class="row mt-3">
        <div class="col">

            <form autocomplete="off" #f="ngForm" (ngSubmit)="Save( f )">
                <div class="form-row text-center">
                    <div class="col-2">
                        <label class="form-label">Firebase ID</label>
                    </div>
                    <div class="col-10">
                        <input 
                        disabled 
                        name="id" 
                        type="text" 
                        class="form-control" 
                        placeholder="Firebase ID" 
                        [(ngModel)]="hero.id">
                        <small class="form-text text-left">This fiel is self-generated</small>
                    </div>
                </div>

                <div class="form-row text-center mt-3">
                    <div class="col-2">
                        <label class="form-label">Name</label>
                    </div>
                    <div class="col-10">
                        <input 
                        name="name" 
                        type="text" 
                        class="form-control" 
                        placeholder="Hero's name" 
                        [(ngModel)]="hero.name" 
                        #name="ngModel"
                        [class.is-invalid]="name.invalid && name.touched"
                        required>
                        <small *ngIf="name.invalid && name.touched" class="form-text text-danger text-left">Hero's name's required</small>
                    </div>
                </div>

                <div class="form-row text-center mt-3">
                    <div class="col-2">
                        <label class="form-label">Power</label>
                    </div>
                    <div class="col-10">
                        <input 
                        name="power" 
                        type="text" 
                        class="form-control" 
                        placeholder="Hero's power" 
                        [(ngModel)]="hero.power" 
                        #power="ngModel"
                        [class.is-invalid]="power.invalid && power.touched"
                        required>
                        <small *ngIf="power.invalid && power.touched" class="form-text text-danger text-left">Hero's power's required</small>
                    </div>
                </div>

                <div class="form-row mt-3">
                    <div class="col-2 text-center">
                        <label class="form-label">Status</label>
                    </div>

                    <div class="col-5">
                        <button *ngIf="hero.status" (click)="hero.status = false" class="btn btn-outline-success w-100">
                            <i class="fas fa-smile-wink"></i>
                            Alive
                        </button>
                    </div>

                    <div class="col-5">
                        <button *ngIf="!hero.status" (click)="hero.status = true" class="btn btn-outline-danger w-100">
                            <i class="fas fa-dizzy"></i>
                            Deceased
                        </button>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary w-25">
                            <i class="far fa-save"></i>
                            Save
                        </button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>